.footer {
  background-color: #D0C8C8;
  text-align: center;
}
.share-wrapper {
  width: 300px;
  margin: 0 auto 10px;
  text-align: center;
  padding-top: 10px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.copyright {
  padding-bottom: 10px;
}